#user-infos {
  height: 60px;
  overflow: hidden;
}

#user-profile {
  height: 50px;
  width: 50px;
}

#box-img {
  margin-bottom: 10px;
  height: 230px;
  overflow: hidden;
}

#para-desc {
  font-size: 13px;
}

.title-post {
  margin-bottom: 0px;
}

#btn-user {
  width: 40px;
  height: 32px;
}

#div-add {
  font-size: 13px;
  margin-top: 15px;
  width: 90%;
}

#text-add {
  font-size: 10px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#div-com {
  margin-top: 15px;
  width: 90%;
  margin-bottom: 15px;
  font-size: 13px;
}

/* div... todos */

#div-albums, #div-todos {
  height: 100px;
}

#right-comp {
  margin-top: 30px;
}

@media (min-width: 576px) {
  #div-albums, #div-todos {
    height: 49%;
  }
  #right-comp {
    margin-top: 0px;
  }
}